.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ef4444;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navi {
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    height: calc(100vh - 92px);
    background-color: rgb(242, 242, 242);
    left: 0px !important;
    position: fixed !important;
    top: 92px !important;
}