.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ef4444;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}