.registration-wrapper {
    background-image: url('../../public/assets/images/register-bg.png');
    background-size: 40%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
}

.registration-wrapper-inner {
    max-height: 810px;
}