
footer {
    padding: 30px 0;
    justify-content: center;
    align-items: flex-start;
}

.footer-links {
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
}

.footer-links a:hover {
    color: #FFCB77;
}

@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links > div {
        margin: 15px 0;
        width: 200px;
        position: relative;
        left: 30px;
    }

    .image-wrapper {
        margin-bottom: 20px;
    }
}